.cover__subtitle {
  max-width: 360px;
  position: relative;
  text-align: center;
  z-index: 99;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 0;
  margin: 32px auto 0 auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover__subtitle {
    margin: 16px auto 0 auto;
    font-size: 14px;
    line-height: 16px;
    max-width: 267px;
  }
}
