.header__logo {
  width: 176px;
  height: 52px;
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
    box-sizing: border-box;
  }
}
