.cover__titles {
  width: 100%;
  min-height: 740px;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: center;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__titles {
    min-height: 640px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover__titles {
    min-height: 480px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover__titles {
    min-height: 200px;
  }
}
